In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(42)

# Make plots show up in the notebook
# %matplotlib inline

DATA_PATH = "../data/health_study_dataset.csv"  # because notebook is in notebooks/
df = pd.read_csv(DATA_PATH)

df.head()

   id  age sex  height  weight  systolic_bp  cholesterol smoker  disease
0   1   57   F   168.9    65.8        141.8         4.58     No        0
1   2   47   M   180.4    95.9        144.8         5.18    Yes        0
2   3   59   F   169.9    82.2        151.7         6.16     No        0
3   4   72   M   157.7    93.1        151.0         6.63     No        0
4   5   46   M   192.6   104.1        144.1         5.21     No        0

In [4]:
df.shape

(800, 9)

In [5]:
df.columns

Index(['id', 'age', 'sex', 'height', 'weight', 'systolic_bp', 'cholesterol',
       'smoker', 'disease'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           800 non-null    int64
 1   age          800 non-null    int64
 2   sex          800 non-null    object
 3   height       800 non-null    float64
 4   weight       800 non-null    float64
 5   systolic_bp  800 non-null    float64
 6   cholesterol  800 non-null    float64
 7   smoker       800 non-null    object
 8   disease      800 non-null    int64
dtypes: float64(4), int64(3), object(2)
memory usage: 56.4+ KB

In [7]:
df.isna().sum()

id             0
age            0
sex            0
height         0
weight         0
systolic_bp    0
cholesterol    0
smoker         0
disease        0
dtype: int64

In [8]:
df["sex"].value_counts(dropna=False)

sex
F    403
M    397
Name: count, dtype: int64

In [9]:
df["smoker"].value_counts(dropna=False)

smoker
No     587
Yes    213
Name: count, dtype: int64

In [ ]:
df["disease"].value_counts(dropna=False)

<class 'pandas.core.series.Series'>
RangeIndex: 800 entries, 0 to 799
Series name: disease
Non-Null Count  Dtype
--------------  -----
800 non-null    int64
dtypes: int64(1)
memory usage: 6.4 KB
None